body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

#grid {
    display: grid;
    grid-template-areas: 
        "header header header"
        "blogroll main projects"
        "queries facts epigrams"
        "to-read read reading"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0.5em;
    margin: 0.5em;
}

@media (max-width: 1200px) {
    #grid {
        grid-template-areas: 
            "header header"
            "main main"
            "blogroll projects"
            "facts facts"
            "queries epigrams"
            "to-read reading"
            "read read"
            "footer footer";
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    #grid {
        grid-template-areas:
            "header"
            "main"
            "projects"
            "blogroll"
            "facts"
            "queries"
            "epigrams"
            "to-read"
            "reading"
            "read"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto auto;
    }
}

#grid > * {
    background-color: #ffffff;
    padding: 0.5em;
    border: 1px solid #d1d1d1;
}

main {
    grid-area: main;
}

header {
    grid-area: header;
    text-align: center;
}

#blogroll {
    grid-area: blogroll;
}

#main {
    grid-area: main;
}

#projects {
    grid-area: projects;
}

#facts {
    grid-area: facts;
    text-align: center;
}

#epigrams {
    grid-area: epigrams;
    text-align: center;
}

#queries {
    grid-area: queries;
    text-align: center;
}

#to-read {
    grid-area: to-read;
}

#read {
    grid-area: read;
}

#reading {
    grid-area: reading;
}

footer {
    grid-area: footer;
    text-align: center;
}

.show-more {
    color: #9f9f9f;
    text-decoration: none;
}

.success {
    color: #008000;
    font-weight: bold;
}

.warning {
    color: #FFA726;
    font-weight: bold;
}

.error {
    color: #EF5350;
    font-weight: bold;
}

.strong {
    font-weight: bold;
}

.note {
    color: #9f9f9f;
    font-style: italic;
}

a {
    color: #2590EB;
}

ul {
    list-style-type: "- ";
    padding-left: 1rem;
}

li::marker {
    color: #9f9f9f;
}

ul.split {
    column-count: 2;
}